.colorpicker input[type=range]::-ms-track {
 -webkit-appearance: none;
 border: 0 none;
 background: transparent;
 color: transparent;
} .colorpicker input[type=range]::-moz-range-track {
 -moz-appearance: none;
 border: 0 none;
 background: transparent;
 color: transparent;
} .colorpicker input[type=range] {
 -webkit-appearance: none;
 border: 0 none;
 background: transparent;
 color: transparent;
 width: 215px;
 height: 20px;
} .colorpicker input[type=range]:focus::-webkit-slider-runnable-track {
 background: transparent;
 border: transparent;
} .colorpicker input[type=range]:focus {
 outline: none;
} .colorpicker input[type=range]::-ms-fill-lower {
 background: transparent;
 border: 0 none;
} .colorpicker input[type=range]::-ms-fill-upper {
 background: transparent;
 border: 0 none;
} .colorpicker input[type=range]::-ms-tooltip {
 display: none;
} .colorpicker input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
} .colorpicker input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  width: 10px;
  height: 15px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
} .colorpicker input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  width: 10px;
  height: 15px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
} .colorpicker_slider {
 z-index: 150;
 position: relative;
} .colorpicker_slidertrack {
 height: 6px;
 border-radius: 5px;
 width: 215px;
 position: absolute;
 bottom: -20px;
 top: 0;
 right: 67px;
 z-index: 100;
 margin: 10px 2px 2px 2px;
} .colorpicker_slidertrack_hue {
 top: 9px;
 background: -webkit-linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(60, 100%, 50%) 16%, hsl(120, 100%, 50%) 33%, hsl(180, 100%, 50%) 50%, hsl(240, 100%, 50%) 66%, hsl(300, 100%, 50%) 83%, hsl(360, 100%, 50%) 100%);
 background: linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(60, 100%, 50%) 16%, hsl(120, 100%, 50%) 33%, hsl(180, 100%, 50%) 50%, hsl(240, 100%, 50%) 66%, hsl(300, 100%, 50%) 83%, hsl(360, 100%, 50%) 100%);
 background: -moz-linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(60, 100%, 50%) 16%, hsl(120, 100%, 50%) 33%, hsl(180, 100%, 50%) 50%, hsl(240, 100%, 50%) 66%, hsl(300, 100%, 50%) 83%, hsl(360, 100%, 50%) 100%);
 background: -o-linear-gradient(left, hsl(0, 100%, 50%) 0%, hsl(60, 100%, 50%) 16%, hsl(120, 100%, 50%) 33%, hsl(180, 100%, 50%) 50%, hsl(240, 100%, 50%) 66%, hsl(300, 100%, 50%) 83%, hsl(360, 100%, 50%) 100%);
} .colorpicker_slidertrack_sat {
 top: 35px;
 background: linear-gradient(left, #808080, hsl(360, 100%, 50%));
 background: -webkit-linear-gradient(left, #808080, hsl(360, 100%, 50%));
 background: -o-linear-gradient(left, #808080, hsl(360, 100%, 50%));
 background: -moz-linear-gradient(left, #808080, hsl(360, 100%, 50%));
} .colorpicker_slidertrack_light {
 top: 58px;
 background: linear-gradient(left, black, hsl(360, 100%, 50%), white);
 background: -webkit-linear-gradient(left, black, hsl(360, 100%, 50%), white);
 background: -o-linear-gradient(left, black, hsl(360, 100%, 50%), white);
 background: -moz-linear-gradient(left, black, hsl(360, 100%, 50%), white);
} .colorpicker_slidertrack_alpha {
 top: 83px;
 background: linear-gradient(left, transparent, hsl(360, 100%, 50%));
 background: -webkit-linear-gradient(left, transparent, hsl(360, 100%, 50%));
 background: -o-linear-gradient(left, transparent, hsl(360, 100%, 50%));
 background: -moz-linear-gradient(left, transparent, hsl(360, 100%, 50%));
} .colorpicker input[type=number] {
 text-align: center;
 width: 50px;
} .colorpicker input {
 float: right
} .colorpicker_curcolor {
 width: 75px;
 height: 75px;
 display: inline-block;
 float: left;
} .colorpicker {
 width: 360px;
 margin-bottom: 25px;
 overflow: hidden;
 position: relative;
 background-image: url("../img/background.png");
 background-size: 10px 10px;
 padding: 10px;
}

@media only screen and (max-width: 800px) {
  .colorpicker {
    width: 300px;
  } .slidertrack, .colorpicker input[type=range] {
    width: 150px;
  } .colorpicker input[type=number] {
   text-align: center;
   width: 40px;
  }
}
